root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp}]
indent_style = tab
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = none
indent_brace_style = Stroustrup

[*.{yml,yaml}]
indent_style = space
indent_size = 2
